<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246642385825-2lepl7pf2m9ilnlcgcj638um2rq8t49i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246642385825-2lepl7pf2m9ilnlcgcj638um2rq8t49i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246642385825-jn0qgvf7b28dikk28gl1h2vb4nan6gr6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIrwfumuf7W7iStNl8RHI-7pPtKg2x1jA</string>
	<key>GCM_SENDER_ID</key>
	<string>246642385825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcd</string>
	<key>PROJECT_ID</key>
	<string>mega-cheap-data</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-cheap-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246642385825:ios:1dfc0c02111367f29921e0</string>
	<key>DATABASE_URL</key>
	<string>https://mega-cheap-data.firebaseio.com</string>
</dict>
</plist>